/* Reset & base */
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f4f6f9;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
}

.app-container {
  max-width: 600px;
  margin: 40% auto;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 100vh auto;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
