.title {
    font-family: Arial, Helvetica, sans-serif;
}

.text-box {
    padding: 10px;
    border-radius: 5px;
    border: 1;
    margin-bottom: 8px;
    margin-right: 10px;
}

.buttons {
    padding: 10px 20px;
    background-color: rgb(0, 123,255);
    border: 0px;
    margin-right: 5px;
    border-radius: 5px;
    color: white;
}